*Pods
*Podfile.lock
*DerivedData
/BigSur.xcodeproj/xcuserdata
/BigSur.xcworkspace/xcuserdata
*.DS_Store
/build
/file_list
*.uncrustify
/html/
/DerivedData
/Pods/
/Podfile.lock
/BigSur.xcworkspace/xcuserdata/bengotow.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
*xcuserdata
BigSur.xcworkspace/xcshareddata/BigSur.xccheckout